# Singapore COVID-19 Data Preparation

Originally Collected and Maintained by :

- Ministry of Health (MOH) Singapore
- Hui Xiang Chu (https://twitter.com/hxchuaruns)

# 1. Load and Explore the Data

In [1]:
# Load the full csv
import pandas as pd
df = pd.read_csv("covid19_sg.csv")

In [2]:
# Create a copy
df_new = df.copy()

In [3]:
# Display overview of data
df_new

,Date,Daily Confirmed,False Positives Found,Cumulative Confirmed,Daily Discharged,Passed but not due to COVID,Cumulative Discharged,Discharged to Isolation,Still Hospitalised,Daily Deaths,...,Cumulative Individuals Vaccinated,Cumulative Individuals Vaccination Completed,Perc population completed at least one dose,Perc population completed vaccination,Sinovac vaccine doses,Cumulative individuals using Sinovac vaccine,Doses of other vaccines recognised by WHO,Cumulative individuals using other vaccines recognised by WHO,Number taken booster shots,Perc population taken booster shots
0,2020-01-23,1,NaN,1,0,0,0,0,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-01-24,2,NaN,3,0,0,0,0,3,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-01-25,1,NaN,4,0,0,0,0,4,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-01-26,0,NaN,4,0,0,0,0,4,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-01-27,1,NaN,5,0,0,0,0,5,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
712,2022-01-04,842,0.0,281596,271,0,276936,3669,151,3,...,NaN,NaN,88%,87%,NaN,NaN,NaN,NaN,NaN,42%
713,2022-01-05,805,0.0,282401,453,0,277389,4015,155,2,...,NaN,NaN,88%,87%,NaN,NaN,NaN,NaN,NaN,43%
714,2022-01-06,813,0.0,283214,392,0,277781,4449,141,1,...,NaN,NaN,88%,87%,NaN,NaN,NaN,NaN,NaN,44%
715,2022-01-07,777,0.0,283991,338,0,278119,4892,135,2,...,NaN,NaN,89%,87%,NaN,NaN,NaN,NaN,NaN,44%
716,2022-01-08,811,0.0,284802,336,0,278455,5372,130,0,...,NaN,NaN,89%,87%,NaN,NaN,NaN,NaN,NaN,45%

In [4]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 717 entries, 0 to 716
Data columns (total 36 columns):
 #   Column                                                         Non-Null Count  Dtype
---  ------                                                         --------------  -----
 0   Date                                                           717 non-null    object
 1   Daily Confirmed                                                717 non-null    int64
 2   False Positives Found                                          608 non-null    float64
 3   Cumulative Confirmed                                           717 non-null    int64
 4   Daily Discharged                                               717 non-null    int64
 5   Passed but not due to COVID                                    717 non-null    int64
 6   Cumulative Discharged                                          717 non-null    int64
 7   Discharged to Isolation                                        717 non-null    int64
 8   Still Hospitalised                                             717 non-null    int64
 9   Daily Deaths                                                   717 non-null    int64
 10  Cumulative Deaths                                              717 non-null    int64
 11  Tested positive demise                                         717 non-null    int64
 12  Daily Imported                                                 717 non-null    int64
 13  Daily Local transmission                                       717 non-null    int64
 14  Local cases residing in dorms MOH report                       651 non-null    float64
 15  Local cases not residing in doms MOH report                    651 non-null    float64
 16  Intensive Care Unit (ICU)                                      717 non-null    int64
 17  General Wards MOH report                                       660 non-null    float64
 18  In Isolation MOH report                                        660 non-null    float64
 19  Total Completed Isolation MOH report                           659 non-null    float64
 20  Total Hospital Discharged MOH report                           659 non-null    float64
 21  Requires Oxygen Supplementation or Unstable                    215 non-null    float64
 22  Linked community cases                                         160 non-null    float64
 23  Unlinked community cases                                       160 non-null    float64
 24  Phase                                                          642 non-null    object
 25  Cumulative Vaccine Doses                                       120 non-null    float64
 26  Cumulative Individuals Vaccinated                              120 non-null    float64
 27  Cumulative Individuals Vaccination Completed                   120 non-null    float64
 28  Perc population completed at least one dose                    161 non-null    object
 29  Perc population completed vaccination                          161 non-null    object
 30  Sinovac vaccine doses                                          9 non-null      float64
 31  Cumulative individuals using Sinovac vaccine                   9 non-null      float64
 32  Doses of other vaccines recognised by WHO                      80 non-null     float64
 33  Cumulative individuals using other vaccines recognised by WHO  80 non-null     float64
 34  Number taken booster shots                                     31 non-null     float64
 35  Perc population taken booster shots                            75 non-null     object
dtypes: float64(18), int64(13), object(5)
memory usage: 201.8+ KB

In [5]:
df_new.describe()

,Daily Confirmed,False Positives Found,Cumulative Confirmed,Daily Discharged,Passed but not due to COVID,Cumulative Discharged,Discharged to Isolation,Still Hospitalised,Daily Deaths,Cumulative Deaths,...,Linked community cases,Unlinked community cases,Cumulative Vaccine Doses,Cumulative Individuals Vaccinated,Cumulative Individuals Vaccination Completed,Sinovac vaccine doses,Cumulative individuals using Sinovac vaccine,Doses of other vaccines recognised by WHO,Cumulative individuals using other vaccines recognised by WHO,Number taken booster shots
count,717.000000,608.000000,717.000000,717.000000,717.000000,717.000000,717.000000,717.000000,717.000000,717.00000,...,160.000000,160.000000,1.200000e+02,1.200000e+02,1.200000e+02,9.000000,9.000000,80.000000,80.000000,31.000000
mean,397.324965,0.131579,72850.330544,388.361227,0.008368,68140.847978,4232.864714,368.168759,1.168759,101.83682,...,30.450000,14.618750,8.295745e+06,4.392539e+06,3.879330e+06,118138.222222,78083.444444,180066.400000,92550.212500,478587.129032
std,823.667874,2.185573,68093.230057,828.428769,0.091158,64976.613983,7265.481629,557.974075,3.206701,207.90025,...,38.199707,26.721454,1.192874e+06,2.882246e+05,8.200380e+05,10618.138923,3019.922603,38125.334479,18985.378822,180971.682669
min,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,-16.000000,0.000000,0.00000,...,0.000000,0.000000,5.485548e+06,3.376297e+06,2.109251e+06,104061.000000,74121.000000,42623.000000,24130.000000,172090.000000
25%,13.000000,0.000000,48035.000000,12.000000,0.000000,44391.000000,103.000000,16.000000,0.000000,27.00000,...,2.000000,1.000000,7.485895e+06,4.297320e+06,3.310855e+06,108815.000000,75856.000000,162833.500000,85373.750000,331327.500000
50%,40.000000,0.000000,59059.000000,31.000000,0.000000,58793.000000,296.000000,108.000000,0.000000,29.00000,...,12.000000,3.500000,8.689759e+06,4.506378e+06,4.306486e+06,115970.000000,77095.000000,179602.000000,86772.000000,487673.000000
75%,339.000000,0.000000,62744.000000,313.000000,0.000000,62475.000000,4654.000000,474.000000,0.000000,36.00000,...,49.750000,17.000000,9.135696e+06,4.593508e+06,4.480897e+06,129787.000000,81555.000000,203645.750000,106014.750000,629889.000000
max,5324.000000,41.000000,284802.000000,5087.000000,1.000000,278455.000000,31166.000000,4229.000000,18.000000,837.00000,...,156.000000,185.000000,1.004902e+07,4.734669e+06,4.675888e+06,131497.000000,81709.000000,239146.000000,122126.000000,760408.000000

# 2. Clean and Transform Data

## 2.1 Dropping Columns

'Cumulative Individuals Vaccinated' and 'Cumulative Individuals Vaccination Completed' both add up to 'Cumulative Vaccine Doses'

In [6]:
df_new.drop(['Requires Oxygen Supplementation or Unstable','Cumulative Individuals Vaccinated', 'Cumulative Individuals Vaccination Completed','Sinovac vaccine doses','Cumulative individuals using Sinovac vaccine','Doses of other vaccines recognised by WHO','Cumulative individuals using other vaccines recognised by WHO'], axis=1, inplace=True)

## 2.2 Removing Irregular Values

### 2.2.1 Perc population completed at least one dose

In [7]:
df_new['Perc population completed at least one dose']

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
      ...
712    88%
713    88%
714    88%
715    89%
716    89%
Name: Perc population completed at least one dose, Length: 717, dtype: object

In [8]:
df_new['Perc population completed at least one dose'] = df_new['Perc population completed at least one dose'].str.replace("%","")

### 2.2.2 Perc population completed vaccination

In [9]:
df_new['Perc population completed vaccination']

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
      ...
712    87%
713    87%
714    87%
715    87%
716    87%
Name: Perc population completed vaccination, Length: 717, dtype: object

In [10]:
df_new['Perc population completed vaccination'] = df_new['Perc population completed vaccination'].str.replace("%","")

### 2.2.3. Perc population taken booster shots

In [11]:
df_new['Perc population taken booster shots']

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
      ...
712    42%
713    43%
714    44%
715    44%
716    45%
Name: Perc population taken booster shots, Length: 717, dtype: object

In [12]:
df_new['Perc population taken booster shots'] = df_new['Perc population taken booster shots'].str.replace("%","")

## 2.3 Identifying & Replacing Missing Values

In [13]:
# Identifying NULL values of each column
df_new.isnull().sum()

Date                                             0
Daily Confirmed                                  0
False Positives Found                          109
Cumulative Confirmed                             0
Daily Discharged                                 0
Passed but not due to COVID                      0
Cumulative Discharged                            0
Discharged to Isolation                          0
Still Hospitalised                               0
Daily Deaths                                     0
Cumulative Deaths                                0
Tested positive demise                           0
Daily Imported                                   0
Daily Local transmission                         0
Local cases residing in dorms MOH report        66
Local cases not residing in doms MOH report     66
Intensive Care Unit (ICU)                        0
General Wards MOH report                        57
In Isolation MOH report                         57
Total Completed Isolation MOH report            58
Total Hospital Discharged MOH report            58
Linked community cases                         557
Unlinked community cases                       557
Phase                                           75
Cumulative Vaccine Doses                       597
Perc population completed at least one dose    556
Perc population completed vaccination          556
Number taken booster shots                     686
Perc population taken booster shots            642
dtype: int64

### 2.3.1. False Positives Found

In [14]:
df_new['False Positives Found'].unique()

array([nan, 35.,  0.,  1., 41.])

In [15]:
# Identify median value
df_new['False Positives Found'].median()

0.0

In [16]:
# Reokace np.nan
import numpy as np
df_new['False Positives Found'].replace(np.nan,0, inplace = True)

In [17]:
df_new['False Positives Found'] = df_new['False Positives Found'].astype(int)

In [18]:
df_new['False Positives Found'].unique()

array([ 0, 35,  1, 41])

### 2.3.2. Local cases residing in dorms MOH report

In [19]:
df_new['Local cases residing in dorms MOH report'].isnull().values.any()

True

In [20]:
df_new['Local cases residing in dorms MOH report'].median()

5.0

In [21]:
df_new['Local cases residing in dorms MOH report'].replace(np.nan,5.0,inplace = True)

In [22]:
df_new['Local cases residing in dorms MOH report'].isnull().values.any()

False

### 2.3.3. Local cases not residing in doms MOH report

In [23]:
df_new['Local cases not residing in doms MOH report'].isnull().values.any()

True

In [24]:
df_new['Local cases not residing in doms MOH report'].median()

5.0

In [25]:
df_new['Local cases not residing in doms MOH report'].replace(np.nan,5.0,inplace = True)

In [26]:
df_new['Local cases not residing in doms MOH report'].isnull().values.any()

False

### 2.3.4. General Wards MOH report

In [27]:
df_new['General Wards MOH report'].unique()

array([  nan,  238.,  276.,  295.,  340.,  384.,  388.,  404.,  415.,
        401.,  437.,  441.,  448.,  474.,  544.,  546.,  598.,  640.,
        856.,  845.,  914.,  947., 1131., 1289., 1473., 1866., 2095.,
       2538., 2899., 1364., 1381., 1571., 1342., 1205., 1190., 1431.,
       1668., 1692., 1687., 1741., 1686., 1608., 1466., 1560., 1439.,
       1357., 1223., 1101., 1075., 1069., 1112., 1018., 1052., 1106.,
       1095., 1194., 1024.,  994.,  943.,  891.,  790.,  703.,  682.,
        599.,  577.,  518.,  503.,  453.,  367.,  313.,  337.,  325.,
        329.,  298.,  303.,  304.,  292.,  265.,  245.,  220.,  225.,
        237.,  227.,  236.,  241.,  267.,  255.,  223.,  210.,  184.,
        178.,  199.,  191.,  188.,  182.,  173.,  183.,  196.,  214.,
        208.,  200.,  222.,  202.,  206.,  218.,  181.,  165.,  161.,
        159.,  146.,  169.,  170.,  150.,  137.,  157.,  148.,  179.,
        185.,  136.,  117.,  109.,  114.,  124.,  125.,  112.,  145.,
        135.,  104.,   92.,   91.,   79.,   83.,   82.,   88.,   87.,
         75.,   72.,   81.,   76.,   84.,   78.,   65.,   66.,   71.,
         70.,   74.,   86.,   52.,   51.,   50.,   48.,   34.,   47.,
         49.,   54.,   60.,   53.,   42.,   43.,   38.,   27.,   30.,
         36.,   37.,   28.,   25.,   31.,   32.,   41.,   44.,   46.,
         39.,   35.,   40.,   45.,   33.,   21.,   29.,   26.,   23.,
         20.,   22.,   56.,   55.,   63.,   59.,   24.,   19.,   18.,
         17.,   15.,   14.,   16.,   57.,   73.,   69.,   93.,  108.,
        110.,  113.,  126.,  131.,  129.,  119.,  132.,  141.,  140.,
        147.,  177.,  187.,  205.,  215.,  216.,  250.,  239.,  248.,
        240.,  243.,  219.,  221.,  229.,  149.,  151.,  152.,  134.,
        139.,  144.,  111.,  101.,   99.,   96.,  195.,  242.,  288.,
        331.,  378.,  414.,  445.,  489.,  522.,  549.,  543.,  565.,
        569.,  564.,  597.,  582.,  595.,  585.,  548.,  539.,  525.,
        534.,  517.,  497.,  500.,  461.,  478.,  442.,  435.,  419.,
        398.,  396.,  383.,  373.,  357.,  339.,  332.,  343.,  336.,
        363.,  408.,  436.,  458.,  494.,  523.,  575.,  603.,  648.,
        631.,  637.,  658.,  657.,  683.,  701.,  773.,  766.,  800.,
        813.,  825.,  799.,  852., 1037., 1092., 1064., 1097., 1115.,
       1173., 1261., 1295., 1301., 1326., 1322., 1391., 1302., 1320.,
       1478., 1483., 1494., 1523., 1529., 1572., 1656., 1577., 1461.,
       1465., 1545., 1402., 1585., 1647., 1667., 1651., 1552., 1622.,
       1680., 1715., 1720., 1711., 1671., 1555., 1567., 1611., 1655.,
       1646., 1596., 1599., 1592., 1590., 1658., 1628., 1540., 1541.,
       1502., 1456., 1433., 1404., 1375., 1282., 1307., 1359., 1325.,
       1306., 1196., 1181., 1103., 1096., 1048.,  993.,  931.,  881.,
        839.,  811.,  803.,  784.,  744.,  626.,  567.,  562.,  545.,
        467.,  477.,  430.,  405.,  399.,  394.,  359.,  346.,  286.,
        289.,  263.,  249.,  252.,  168.,  171.,  158.,  153.])

In [28]:
df_new['General Wards MOH report'].median()

157.0

In [29]:
df_new['General Wards MOH report'].replace(np.nan,157.0,inplace = True)

In [30]:
df_new['General Wards MOH report'].isnull().values.any()

False

### 2.3.5. In Isolation MOH report

In [31]:
df_new['In Isolation MOH report']

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
        ...
712    3669.0
713    4015.0
714    4449.0
715    4892.0
716    5372.0
Name: In Isolation MOH report, Length: 717, dtype: float64

In [32]:
df_new['In Isolation MOH report'].median()

527.5

In [33]:
df_new['In Isolation MOH report'].replace(np.nan,527.5,inplace = True)

### 2.3.6. Total Completed Isolation MOH report

In [34]:
df_new['Total Completed Isolation MOH report']

0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
         ...
712    260685.0
713    261128.0
714    261504.0
715    261826.0
716    262137.0
Name: Total Completed Isolation MOH report, Length: 717, dtype: float64

In [35]:
df_new['Total Completed Isolation MOH report'].median()

56517.0

In [36]:
df_new['Total Completed Isolation MOH report'].replace(np.nan,56517.0,inplace = True)

### 2.3.7. Total Hospital Discharged MOH report

In [37]:
df_new['Total Hospital Discharged MOH report']

0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
        ...
712    16229.0
713    16239.0
714    16255.0
715    16271.0
716    16296.0
Name: Total Hospital Discharged MOH report, Length: 717, dtype: float64

In [38]:
df_new['Total Hospital Discharged MOH report'].median()

3083.0

In [39]:
df_new['Total Hospital Discharged MOH report'].replace(np.nan,3083.0,inplace = True)

### 2.3.8. Linked community cases

In [40]:
df_new['Linked community cases']

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
       ..
712   NaN
713   NaN
714   NaN
715   NaN
716   NaN
Name: Linked community cases, Length: 717, dtype: float64

In [41]:
df_new['Linked community cases'].median()

12.0

In [42]:
df_new['Linked community cases'].replace(np.nan,12.0,inplace = True)

### 2.2.9. Unlinked community cases

In [43]:
df_new['Unlinked community cases']

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
       ..
712   NaN
713   NaN
714   NaN
715   NaN
716   NaN
Name: Unlinked community cases, Length: 717, dtype: float64

In [44]:
df_new['Unlinked community cases'].median()

3.5

In [45]:
df_new['Unlinked community cases'].replace(np.nan,3.5,inplace = True)

### 2.3.10. Phase

All empty values were found before the date of 6/4/2020 (inclusive) as there was no particular 'phase' given. In this case, I will indicate it as 'Early Stage'

In [46]:
df_new['Phase'].replace(np.nan,'Early Stage',inplace=True)

In [47]:
df_new['Phase'].isnull().values.any()

False

### 2.3.11. Cumulative Vaccine Doses

In [48]:
df_new['Cumulative Vaccine Doses'].isnull().values.any()

True

In [49]:
df_new['Cumulative Vaccine Doses'].median()

8689759.0

In [50]:
df_new['Cumulative Vaccine Doses'].replace(np.nan,8689759.0,inplace=True)

### 2.3.12. Perc population completed at least one dose

In [51]:
df_new['Perc population completed at least one dose'].isnull().values.any()

True

In [52]:
# Convert all non-null values to integer
df_new[df_new['Perc population completed at least one dose'].notnull()]['Perc population completed at least one dose'] = df_new[df_new['Perc population completed at least one dose'].notnull()]['Perc population completed at least one dose'].astype(int)

C:\Users\Samantha\AppData\Local\Temp\ipykernel_18496\1895601996.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new[df_new['Perc population completed at least one dose'].notnull()]['Perc population completed at least one dose'] = df_new[df_new['Perc population completed at least one dose'].notnull()]['Perc population completed at least one dose'].astype(int)

In [53]:
df_new['Perc population completed at least one dose'].median()

85.0

In [54]:
# Reokace null values with median value
df_new['Perc population completed at least one dose'].replace(np.nan,85,inplace=True)

In [55]:
# Convert new values to integer
df_new['Perc population completed at least one dose'] = df_new['Perc population completed at least one dose'].astype(int)

In [56]:
df_new['Perc population completed at least one dose']

0      85
1      85
2      85
3      85
4      85
       ..
712    88
713    88
714    88
715    89
716    89
Name: Perc population completed at least one dose, Length: 717, dtype: int32

### 2.3.13. Perc population completed vaccination

In [57]:
df_new['Perc population completed vaccination'].isnull().values.any()

True

In [58]:
# Convert all non-null values to integer
df_new[df_new['Perc population completed at least one dose'].notnull()]['Perc population completed at least one dose'] = df_new[df_new['Perc population completed vaccination'].notnull()]['Perc population completed vaccination'].astype(int)

In [59]:
df_new['Perc population completed vaccination'].median()

84.0

In [60]:
# Reokace null values with median value
df_new['Perc population completed vaccination'].replace(np.nan,84,inplace=True)

In [61]:
# Convert new values to integer
df_new['Perc population completed vaccination'] = df_new['Perc population completed vaccination'].astype(int)

In [62]:
df_new['Perc population completed vaccination']

0      84
1      84
2      84
3      84
4      84
       ..
712    87
713    87
714    87
715    87
716    87
Name: Perc population completed vaccination, Length: 717, dtype: int32

### 2.3.14. Number taken booster shots

In [63]:
df_new['Number taken booster shots'].unique()

array([    nan, 172090., 196211., 215729., 236849., 258043., 279787.,
       299155., 321228., 341427., 357247., 371953., 392555., 411447.,
       438493., 465204., 487673., 506552., 525212., 554004., 577069.,
       588596., 604552., 622452., 637326., 655029., 680979., 699542.,
       709525., 724762., 745102., 760408.])

In [64]:
df_new['Number taken booster shots'].median()

487673.0

In [65]:
df_new['Number taken booster shots'].replace(np.nan, 487673.0, inplace=True)

### 2.3.15. Perc population taken booster shots

In [66]:
df_new['Perc population taken booster shots'].unique()

array([nan, '13', '14', '15', '16', '17', '18', '19', '20', '21', '22',
       '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33',
       '34', '35', '36', '37', '38', '39', '40', '41', '42', '43', '44',
       '45'], dtype=object)

In [67]:
# Convert all non-null values to integer
df_new[df_new['Perc population taken booster shots'].notnull()]['Perc population taken booster shots'] = df_new[df_new['Perc population taken booster shots'].notnull()]['Perc population taken booster shots'].astype(int)

C:\Users\Samantha\AppData\Local\Temp\ipykernel_18496\592310317.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new[df_new['Perc population taken booster shots'].notnull()]['Perc population taken booster shots'] = df_new[df_new['Perc population taken booster shots'].notnull()]['Perc population taken booster shots'].astype(int)

In [68]:
df_new['Perc population taken booster shots'].median()

27.0

In [69]:
df_new['Perc population taken booster shots'].replace(np.nan,27,inplace=True)

In [70]:
# Identifying NULL values of each column
df_new.isnull().sum()

Date                                           0
Daily Confirmed                                0
False Positives Found                          0
Cumulative Confirmed                           0
Daily Discharged                               0
Passed but not due to COVID                    0
Cumulative Discharged                          0
Discharged to Isolation                        0
Still Hospitalised                             0
Daily Deaths                                   0
Cumulative Deaths                              0
Tested positive demise                         0
Daily Imported                                 0
Daily Local transmission                       0
Local cases residing in dorms MOH report       0
Local cases not residing in doms MOH report    0
Intensive Care Unit (ICU)                      0
General Wards MOH report                       0
In Isolation MOH report                        0
Total Completed Isolation MOH report           0
Total Hospital Discharged MOH report           0
Linked community cases                         0
Unlinked community cases                       0
Phase                                          0
Cumulative Vaccine Doses                       0
Perc population completed at least one dose    0
Perc population completed vaccination          0
Number taken booster shots                     0
Perc population taken booster shots            0
dtype: int64

# 3. Export Cleansed Data

In [71]:
# Display overview of cleansed data
df_new

,Date,Daily Confirmed,False Positives Found,Cumulative Confirmed,Daily Discharged,Passed but not due to COVID,Cumulative Discharged,Discharged to Isolation,Still Hospitalised,Daily Deaths,...,Total Completed Isolation MOH report,Total Hospital Discharged MOH report,Linked community cases,Unlinked community cases,Phase,Cumulative Vaccine Doses,Perc population completed at least one dose,Perc population completed vaccination,Number taken booster shots,Perc population taken booster shots
0,2020-01-23,1,0,1,0,0,0,0,1,0,...,56517.0,3083.0,12.0,3.5,Early Stage,8689759.0,85,84,487673.0,27
1,2020-01-24,2,0,3,0,0,0,0,3,0,...,56517.0,3083.0,12.0,3.5,Early Stage,8689759.0,85,84,487673.0,27
2,2020-01-25,1,0,4,0,0,0,0,4,0,...,56517.0,3083.0,12.0,3.5,Early Stage,8689759.0,85,84,487673.0,27
3,2020-01-26,0,0,4,0,0,0,0,4,0,...,56517.0,3083.0,12.0,3.5,Early Stage,8689759.0,85,84,487673.0,27
4,2020-01-27,1,0,5,0,0,0,0,5,0,...,56517.0,3083.0,12.0,3.5,Early Stage,8689759.0,85,84,487673.0,27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
712,2022-01-04,842,0,281596,271,0,276936,3669,151,3,...,260685.0,16229.0,12.0,3.5,Transition Phase,8689759.0,88,87,487673.0,42
713,2022-01-05,805,0,282401,453,0,277389,4015,155,2,...,261128.0,16239.0,12.0,3.5,Transition Phase,8689759.0,88,87,487673.0,43
714,2022-01-06,813,0,283214,392,0,277781,4449,141,1,...,261504.0,16255.0,12.0,3.5,Transition Phase,8689759.0,88,87,487673.0,44
715,2022-01-07,777,0,283991,338,0,278119,4892,135,2,...,261826.0,16271.0,12.0,3.5,Transition Phase,8689759.0,89,87,487673.0,44
716,2022-01-08,811,0,284802,336,0,278455,5372,130,0,...,262137.0,16296.0,12.0,3.5,Transition Phase,8689759.0,89,87,487673.0,45

In [72]:
df_new.to_csv('covid19_sg_clean.csv')